<h1> HEY MUDAFUCKA, ENTER YO SUMMONA NAME </h1>

<%=form_tag "/searches", :method => "post" do %>
  <%=text_field_tag :search, nil, :placeholder => "Enter Summoner Name" %>

  <% end %>

  <%=form_tag "/champions", :method => "post" do %>
  <%=submit_tag("create champs")%>
  <% end %>